body {
  font-size: 60px;
}

label {
  font-size: 60px !important;
  color: #000000 !important;
}

.control-label {
  margin-top: 10px !important;
}

input {
  font-size: 60px !important;
  margin-top: 10px;
  min-height: 55px;
}

.form-group {
  margin-top: 0px !important;
}