resolver: lts-7.10
compiler: ghcjs-0.2.1.9007010_ghc-8.0.1
compiler-check: match-exact

packages:
- '.'
- '../bread-units-api'
- location:
    git: git@github.com:reflex-frp/reflex.git
    commit: 91299fce0bb2caddfba35af6608df57dd31e3690
- location:
    git: git@github.com:reflex-frp/reflex-dom.git
    commit: 66b6d35773fcb337ab38ebce02c4b23baeae721e
- location:
    git: git@github.com:ghcjs/ghcjs-ffiqq.git
    commit: b52338c2dcd3b0707bc8aff2e171411614d4aedb
- location:
    git: git@github.com:NCrashed/ghcjs-servant-client.git
    commit: ba0a9dd92f4ab714867b50dbb03e5c4d7f8b1b0a

extra-deps:
- 'servant-0.9.1'
- 'servant-server-0.9.1'
- 'http-api-data-0.3.3'
- 'prim-uniq-0.1.0.1'
- 'ref-tf-0.4.0.1'
- 'ghcjs-dom-0.2.4.0'
- 'zenc-0.1.1'

setup-info:
  ghcjs:
    source:
      ghcjs-0.2.1.9007010_ghc-8.0.1:
          url: 'CURRENT_FOLDER/ghcjs-0.2.1.9007010_ghc-8.0.1.tar.gz'
          sha1: 37c3cf241d2381c59b3727d3db9a6f0786bc2ae2