resolver: lts-7.10
compiler: ghcjs-0.2.1.9007010_ghc-8.0.1
compiler-check: match-exact

packages:
- '.'
- '../bread-units-api'

setup-info:
  ghcjs:
    source:
      ghcjs-0.2.1.9007010_ghc-8.0.1:
          url: 'CURRENT_FOLDER/ghcjs-0.2.1.9007010_ghc-8.0.1.tar.gz'
          sha1: 37c3cf241d2381c59b3727d3db9a6f0786bc2ae2